.favorite-badge
{
	position: absolute;
	color: #fff;
	top: 6px;
	right: 15px;
	z-index: 100;
}

.favorite-badge .favorite-badge-content
{
    background-color: #44b1f5;
    width: 38px;
    height: 38px;
    font-size: 12px;
    line-height: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 7px;
}

.favorite-badge .favorite-badge-content-active
{
    background-color: #fe0f0f;
    width: 38px;
    height: 38px;
    font-size: 12px;
    line-height: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 7px;
}
/*
.favorite-badge .favorite-badge-arrow
{
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-top: 9px solid #fe0f0f;
}
*/