Your child’s account is active (user name: {{ student.username }}); now you can start building together! 

As a reminder, here are some of features you’ll find at Curiosity Machine: 

<ul>
	<li>Get Inspired by videos of scientists and engineers solving real-world problems</li>
	<li>Design and Build your own engineering solutions with low-cost, easy-to-find supplies</li>
	<li>Interact online with Curiosity Machine engineering mentors, who can help you make your design even better and answer questions when you get stuck</li>
	<li>Share pictures and videos of your design with the Curiosity Machine community</li>
</ul>
Looking for some inspiration? 

Check out what others are building in our Inspiration gallery(link), then try a project of your own! 

(Click here to start inventing!)* button