<p>
Hi {{ mentor.first_name or mentor.user.username}}!
</p>

<p>
We noticed you’ve been gone for awhile! Our students building at home and in Curiosity Courses are hoping to connect with mentors like you and receive feedback on their design challenges. 
</p>
<p>
Have a moment now? Visit the Curiosity Machine [link https://www.curiositymachine.org] to see what our amazing students are building and how you can give them the support to succeed!
</p>
(Claim a Student Project!) *button 
<p>
Best regards, <br>
Curiosity Machine Team
</p>