{% extends "email_base.html" %}
{% block content %}

<p>
Hi {{ mentor.first_name | default:mentor.user.username }}!
</p>

<p>
Your student [student’s first name or username] just responded to the feedback you gave on their design challenge! Looks like they’re ready for you to see their new design! 
</p>

<p>
Have a moment now? Let’s give them the ideas and encouragement they need to achieve the challenge goal!
</p>

<p>
Once you think they’re finished, make sure to move them to the Reflect Stage so that they can answer the reflect questions &nbsp; share their project with others!
</p>

(Give [student’s first name or username] Feedback!) *button 

<p>
Best regards,
Curiosity Machine Team
</p>
{% endblock %}